aiodns==3.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiosignal==1.3.2
astroid==3.3.9
asyncio==3.4.3
attrs==25.3.0
babel==2.17.0
backrefs==5.8
ccxt==4.4.73
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cma==4.0.0
colorama==0.4.6
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
deap==1.4.2
dictdiffer==0.9.0
dill==0.3.9
dodgy==0.2.1
et_xmlfile==2.0.0
flake8==7.2.0
flake8-polyfill==1.0.2
fonttools==4.57.0
frozenlist==1.5.0
gate-api==6.96.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
hjson==3.1.0
idna==3.10
isort==6.0.1
Jinja2==3.1.6
kiwisolver==1.4.8
llvmlite==0.44.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
maturin==1.8.3
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.11
mkdocs-material-extensions==1.3.1
mplcursors==0.6
multidict==6.2.0
narwhals==1.35.0
neat-python==0.92
numba==0.61.2
numpy==2.2.4
openpyxl==3.1.5
packaging==24.2
paginate==0.5.7
pandas==2.2.3
-e git+ssh://git@github.com/MYusufKaplan/passivbot.git@76f3d4264263e8322a36bfa417ca32a224efe37a#egg=passivbot_rust
pathspec==0.12.1
pep8-naming==0.10.0
pillow==11.1.0
platformdirs==4.3.7
plotly==6.0.1
prettytable==3.16.0
propcache==0.3.1
prospector==1.16.1
pycares==4.6.0
pycodestyle==2.13.0
pycparser==2.22
pydocstyle==6.3.0
pyecharts==2.0.8
pyflakes==3.3.2
Pygments==2.19.1
pylint==3.3.6
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pymdown-extensions==10.14.3
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
requests==2.32.3
requirements-detector==1.3.2
rich==14.0.0
scipy==1.15.2
semver==3.0.4
setoptconf-tmp==0.3.1
setuptools==78.1.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
sortedcontainers==2.4.0
tabulate==0.9.0
toml==0.10.2
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
websockets==15.0.1
yarl==1.19.0
